In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("twitter_training.csv", names=["id", "entity", "sentiment", "text"])
df.head()

,id,entity,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [24]:
df_val = pd.read_csv("twitter_validation.csv", names=["id", "entity", "sentiment", "text"])
df_val.head()

,id,entity,sentiment,text
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [17]:
df.shape

(74682, 4)

In [16]:
df.isna().sum()

id             0
entity         0
sentiment      0
text         686
dtype: int64

In [20]:
df.dropna(inplace=True)
df.shape

(73996, 4)

In [23]:
df.entity.value_counts()

MaddenNFL                            2377
LeagueOfLegends                      2377
CallOfDuty                           2376
Verizon                              2365
TomClancysRainbowSix                 2364
Facebook                             2362
Microsoft                            2361
Dota2                                2359
WorldOfCraft                         2357
ApexLegends                          2353
NBA2K                                2343
CallOfDutyBlackopsColdWar            2343
FIFA                                 2324
johnson&johnson                      2324
TomClancysGhostRecon                 2321
Battlefield                          2316
Overwatch                            2316
GrandTheftAuto(GTA)                  2293
HomeDepot                            2292
PlayStation5(PS5)                    2291
Hearthstone                          2286
CS-GO                                2284
Xbox(Xseries)                        2283
Borderlands                          2280
Amazon                               2276
Google                               2274
Nvidia                               2271
Cyberpunk2077                        2262
RedDeadRedemption(RDR)               2249
Fortnite                             2249
PlayerUnknownsBattlegrounds(PUBG)    2234
AssassinsCreed                       2234
Name: entity, dtype: int64

In [25]:
df_val.shape

(1000, 4)

In [26]:
df_val.isna().sum()

id           0
entity       0
sentiment    0
text         0
dtype: int64

In [27]:
df_val.entity.value_counts()

RedDeadRedemption(RDR)               40
johnson&johnson                      39
FIFA                                 38
PlayerUnknownsBattlegrounds(PUBG)    38
LeagueOfLegends                      37
ApexLegends                          36
TomClancysRainbowSix                 35
Nvidia                               35
GrandTheftAuto(GTA)                  35
Amazon                               34
Fortnite                             34
Facebook                             33
PlayStation5(PS5)                    33
AssassinsCreed                       33
Borderlands                          33
Overwatch                            32
Hearthstone                          32
Verizon                              32
CS-GO                                32
CallOfDuty                           31
Cyberpunk2077                        30
WorldOfCraft                         30
MaddenNFL                            29
Microsoft                            28
Dota2                                27
CallOfDutyBlackopsColdWar            27
Xbox(Xseries)                        26
Battlefield                          26
Google                               24
TomClancysGhostRecon                 22
NBA2K                                21
HomeDepot                            18
Name: entity, dtype: int64